# Dependencies
node_modules/

# Build outputs
dist/
.next/

# Env
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/

# Editor
.DS_Store
.idea/
.vscode/

# OS
Thumbs.db

# Docker
.dockerignore

# Runtime
*.pid
*.seed
*.pid.lock

# Coverage
coverage/
*.lcov

# Cache
.cache/
.parcel-cache/

